.btnArea {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
}

.active {
  background-color: gray;
}

.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background-color: gray;
}

.disabled {
  background-color: rgba(128, 128, 128, 0.286);
}

.btnArea > button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}
